<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>

<script src="~/dist/app.js"></script>
<link rel="stylesheet" type="text/css" href="~/dist/app.min.css" />

