@using Microsoft.Extensions.Options;
@using DotNetCore2.Model.Domain.Utils;

@inject IOptions<AppEnvironment> AppEnvironmentSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App</title>
</head>
<body class="app-background">
    <div data-autoscroll="false" class="wrapper"></div>
    <div>
        @*class="container-fluid"*@
        <div id="app"></div>
    </div>
    <script>
        localStorage.setItem("webHost", "@AppEnvironmentSettings.Value.WebHost");
    </script>
</body>
</html>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="~/dist/app.js"></script>
<link rel="stylesheet" type="text/css" href="~/dist/app.min.css" />


