/*!
 *   Custom App CSS
 *   Author: Kyle Mills
 */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.core-login {
    height: 100vh;
    width: 100vw;
    background-color: #0082c8 !important;
}

.pt-sm {
    padding-top: 10px;
}

.pb-sm {
    padding-bottom: 10px;
}

.pl-sm {
    padding-left: 10px;
}

.pr-sm {
    padding-right: 10px;
}

.pt-md {
    padding-top: 25px;
}

.pb-md {
    padding-bottom: 25px;
}

.pl-md {
    padding-left: 25px;
}

.pr-md {
    padding-right: 25px;
}

.mr-sm {
    margin-right: 10px;
}

a {
    font-family: 'Roboto', sans-serif;
}

li {
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.app-background {
    background-color: #f1f1f1;
}

input {
    font-family: 'Roboto', sans-serif;
}

.btn-core {
    color: #fff;
    background-color: #f4980e;
    border-color: #ec930c;
}

    .btn-core:focus,
    .btn-core.focus {
        color: #fff;
        background-color: #f6ab3b;
        border-color: #f39200;
    }

    .btn-core:hover {
        color: #fff;
        background-color: #f6ab3b;
        border-color: #f39200;
    }

    .btn-core:active,
    .btn-core.active,
    .open > .dropdown-toggle.btn-core {
        color: #fff;
        background-color: #f4980e;
        border-color: #eea236;
    }

        .btn-core:active:hover,
        .btn-core.active:hover,
        .open > .dropdown-toggle.btn-core:hover,
        .btn-core:active:focus,
        .btn-core.active:focus,
        .open > .dropdown-toggle.btn-core:focus,
        .btn-core:active.focus,
        .btn-core.active.focus,
        .open > .dropdown-toggle.btn-core.focus {
            color: #fff;
            background-color: #f4980e;
            border-color: #eea236;
        }

    .btn-core:active,
    .btn-core.active,
    .open > .dropdown-toggle.btn-core {
        background-image: none;
    }

    .btn-core.disabled:hover,
    .btn-core[disabled]:hover,
    fieldset[disabled] .btn-core:hover,
    .btn-core.disabled:focus,
    .btn-core[disabled]:focus,
    fieldset[disabled] .btn-core:focus,
    .btn-core.disabled.focus,
    .btn-core[disabled].focus,
    fieldset[disabled] .btn-core.focus {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .btn-core .badge {
        color: #5cb85c;
        background-color: #fff;
    }


.warning-toast {
    background: #f4980e !important;
}

footer {
    color: white;
    background-color: #0182c8;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60px;
    /*border-top: 1px solid #e4eaec;*/
    padding: 20px;
    z-index: 109;
    /*border-top-color: #f0981a;
    border-top-width: 2px;*/
}

/*
 * Component: Sidebar
 * ------------------
 */


.main-sidebar {
    color: white;
    background-color: #04659a; /*#0182c8;*/
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 200px;
    z-index: 99;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .main-sidebar {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}

@media (min-width: 768px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}

@media (max-width: 767px) {
    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.sidebar {
    padding-bottom: 10px;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .sidebar-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
    }
        
        .sidebar-menu > li > a {
            outline: none;
            text-decoration: none;
            color: #ffffff;
            padding: 12px 5px 12px 15px;
            display: block;
        }

        .sidebar-menu > li.active > a {
            border-left-color: #f0981a;
            border-left-style: solid;
            background-color: #0182c8;
        }
        .sidebar-menu > li > a:hover {
            cursor: pointer;
            background-color: #0182c8; /*#f6ab3b;*/
   
        }

            .sidebar-menu > li > a > .fa,
            .sidebar-menu > li > a > .glyphicon,
            .sidebar-menu > li > a > .ion {
                width: 20px;
            }

        .sidebar-menu > li .label,
        .sidebar-menu > li .badge {
            margin-right: 5px;
        }

        .sidebar-menu > li .badge {
            margin-top: 3px;
        }

    .sidebar-menu li.header {
        background-color: #0676b3;
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }

    .sidebar-menu li > a > .fa-angle-left,
    .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .sidebar-menu li > a > .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
    }

    .sidebar-menu .menu-open > a > .fa-angle-left,
    .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .sidebar-menu .active > .treeview-menu {
        display: block;
    }


/*.sidebar-expanded-on-hover .main-footer,
.sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
}

.sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}

    .sidebar-menu:hover {
        overflow: visible;
    }

    .sidebar-form,
    .sidebar-menu > li.header {
        overflow: hidden;
        text-overflow: clip;
    }

    .sidebar-menu li > a {
        position: relative;
    }

        .sidebar-menu li > a > .pull-right-container {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -7px;
        }*/
/* Fixed layout */
/*.fixed .main-sidebar {
    position: fixed;
}*/


/*.hold-transition .main-sidebar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}*/