.pt-sm {
    padding-top: 10px;
}

.pd-sm {
    padding-bottom: 10px;
}

.mr-sm {
    margin-right: 10px;
}

a {
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
}

.app-background {
    background-color: #f1f1f1;
}

input {
    font-family: 'Roboto', sans-serif;
}

.btn-core {
    color: #fff;
    background-color: #f4980e;
    border-color: #ec930c;
}

    .btn-core:focus,
    .btn-core.focus {
        color: #fff;
        background-color: #f6ab3b;
        border-color: #f39200;
    }

    .btn-core:hover {
        color: #fff;
        background-color: #f6ab3b;
        border-color: #f39200;
    }

    .btn-core:active,
    .btn-core.active,
    .open > .dropdown-toggle.btn-core {
        color: #fff;
        background-color: #f4980e;
        border-color: #eea236;
    }

        .btn-core:active:hover,
        .btn-core.active:hover,
        .open > .dropdown-toggle.btn-core:hover,
        .btn-core:active:focus,
        .btn-core.active:focus,
        .open > .dropdown-toggle.btn-core:focus,
        .btn-core:active.focus,
        .btn-core.active.focus,
        .open > .dropdown-toggle.btn-core.focus {
            color: #fff;
            background-color: #f4980e;
            border-color: #eea236;
        }

    .btn-core:active,
    .btn-core.active,
    .open > .dropdown-toggle.btn-core {
        background-image: none;
    }

    .btn-core.disabled:hover,
    .btn-core[disabled]:hover,
    fieldset[disabled] .btn-core:hover,
    .btn-core.disabled:focus,
    .btn-core[disabled]:focus,
    fieldset[disabled] .btn-core:focus,
    .btn-core.disabled.focus,
    .btn-core[disabled].focus,
    fieldset[disabled] .btn-core.focus {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .btn-core .badge {
        color: #5cb85c;
        background-color: #fff;
    }