.pt-sm {
    padding-top: 10px;
}

a {
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
}

.app-background {
    background-color: #f1f1f1;
}

input {
    font-family: 'Roboto', sans-serif;
}